@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/placeholders";

@import "./base/base";
@import "./base/typography";

/**************Header*****************/
header {
    height: 4rem;
    width: 100%;
    @extend %flexcenter; 
    box-shadow: 0 0 0.28rem rgba(0, 0, 0, 0.425);
    position: relative;
    z-index: 10;
    background: rgba(236, 234, 234, 0.938);;

    .logo {
        font-size: 2.2em;
    }
}

/*************Located****************/

.located {
    height: 3.5rem;
    background: #e0dede;
    @extend %flexcenter;

        &__text {
            font-size: 1.1em;
            font-weight: 500;
            padding-left: 1rem;
        }
}

/**************Information************/

.infobox {
    padding: 2rem 1.5rem 3rem 1.5rem;
    text-align: center;
    background: rgba(236, 234, 234, 0.938);
    width: 100%;


        h2 {
            font-size: 1.5em;
            padding: 1rem 3rem;
            font-weight: 700;
        }

        p {
            font-size: 1.1em;
            padding-bottom: 1.5rem;
            font-weight: 300;
        }
}

/***************Manual***************/

.manual {
    width: 100%;

    &__title{
        font-size: 1.5em;
        padding: 3rem 1.2rem;
        font-weight: 700;
    }
}

.manual__box {

}


