.restaurants__item .restaurants__item__picture--news, .manual__box .manual__item .manual__circle, .manual__box .manual__item--active .manual__circle, .manual__box, .located, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo, .logo__footer, .menu__title__logo {
  font-family: "Shrikhand", cursive;
}

/**************Header*****************/
header {
  height: 4rem;
  width: 100%;
  box-shadow: 0 0 0.28rem rgba(0, 0, 0, 0.425);
  position: relative;
  z-index: 10;
  background: #f6f6f6;
  position: relative;
}
header .logo {
  font-size: 2.2em;
}

/*************Located****************/
.located {
  height: 3.5rem;
  background: #EAEAEA;
}
.located__text {
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 1rem;
}

/**************Information************/
.infobox {
  padding: 2rem 1.5rem 3rem 1.5rem;
  text-align: center;
  background: #f6f6f6;
  width: 100%;
}
.infobox h2 {
  font-size: 1.5em;
  padding: 1rem 3rem;
  font-weight: 700;
}
.infobox p {
  font-size: 1.1em;
  padding-bottom: 1.5rem;
  font-weight: 300;
}

/***************Manual***************/
.manual {
  width: 100%;
}
.manual__title {
  font-size: 1.5em;
  padding: 3rem 0 1rem 1.2rem;
  font-weight: 700;
}

.manual__box {
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
}
@media (min-width: 1500px) {
  .manual__box {
    margin-right: 2rem;
    font-size: 1.5em;
    flex-direction: row;
  }
}
.manual__box .manual__item, .manual__box .manual__item--active {
  height: 4.3rem;
  width: 85%;
  background: #f6f6f6;
  margin: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  margin-left: 1.5rem;
  box-shadow: 2px 5px 7px -2px #807e7e;
}
.manual__box .manual__item--active {
  background: #f1e4f1;
}
.manual__box .manual__item .manual__circle, .manual__box .manual__item--active .manual__circle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  position: absolute;
  left: -0.6rem;
  font-size: 0.9em;
}
.manual__box .manual__item .manual__icone, .manual__box .manual__item .manual__icone--active, .manual__box .manual__item--active .manual__icone, .manual__box .manual__item--active .manual__icone--active {
  padding-left: 1.8rem;
  padding-right: 2rem;
  color: #7E7E7E;
}
.manual__box .manual__item .manual__icone--active, .manual__box .manual__item--active .manual__icone--active {
  color: #9356DC;
}
.manual__box .manual__item .manual__text, .manual__box .manual__item--active .manual__text {
  font-weight: 500;
  font-size: 1em;
}

/******************************Section 3*********************************/
.food {
  margin-top: 3rem;
  background: #f6f6f6;
  padding-bottom: 5rem;
}
.food__title {
  font-size: 1.5em;
  padding: 3.5rem 0 0.8rem 1.2rem;
  font-weight: 700;
}

.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1500px) {
  .restaurants {
    margin-right: 2rem;
    font-size: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.restaurants__item {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0rem;
  height: 15rem;
  background: white;
  border-radius: 1rem;
  position: relative;
  box-shadow: 2px 5px 7px -2px #807e7e;
}
@media (min-width: 1500px) {
  .restaurants__item {
    margin-right: 6rem;
    width: 30%;
    margin-bottom: 4rem;
  }
}
.restaurants__item .restaurants__item__picture {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__item .restaurants__item__picture--news {
  width: 5rem;
  height: 1.8rem;
  position: absolute;
  background-color: #99E2D0;
  top: 5%;
  left: 70%;
  color: #189432;
  font-weight: 500;
  border-radius: 0.2rem;
}
@media (min-width: 1500px) {
  .restaurants__item .restaurants__item__picture--news {
    width: 30%;
  }
}
.restaurants__item .item__boxtext {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
}
.restaurants__item .item__boxtext__name {
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.8rem;
}
.restaurants__item .item__boxtext__heart {
  font-size: 1.4em;
  position: relative;
  display: flex;
}
.restaurants__item .item__boxtext__heart .heart__full {
  background: linear-gradient(189deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.restaurants__item .item__boxtext__heart .heart__full:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 2s ease;
  font-size: 1.07em;
}
.restaurants__item .item__boxtext__heart .heart__vide {
  opacity: 0.4;
}
.restaurants__item .item__boxtext__heart .heart__vide:hover {
  opacity: 0;
}

/******************************Footer*********************************/
Footer {
  padding: 1rem 1.5rem;
  background: #353535;
  color: white;
}
@media (min-width: 1500px) {
  Footer {
    display: flex-inline;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
}
Footer .logo__footer {
  padding-bottom: 1rem;
}
Footer .footer__list {
  list-style: none;
  line-height: 1.7;
  font-size: 0.9em;
}
Footer .footer__list__icone {
  margin-right: 0.5rem;
}

/**************************Button***************************************/
.button {
  height: 3rem;
  width: 14rem;
  border-radius: 2rem;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 2px 5px 7px -2px #807e7e;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(170deg, rgba(255, 121, 217, 0.55) 0%, rgba(147, 86, 220, 0.55) 100%);
  box-shadow: 2px 5px 17px -2px #807e7e;
}

/*************************Page restaurant**************************************/
/******************************************************************************/
.pagemenu {
  background: #f6f6f6;
}

/**************************Header resto****************************************/
.header__arrow {
  position: absolute;
  top: 1.4rem;
  left: 1.5rem;
  font-size: 1.5em;
}

/************************Picture Section1************************************/
.picture {
  width: 100%;
  position: relative;
  z-index: 0;
}
.picture__img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  z-index: 0;
  position: relative;
}

/*******************Section2***************************************/
/*****************Title *******************************************/
.menu__title {
  background: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: -4.5rem;
  z-index: 10;
}
.menu__title__logo {
  font-size: 1.9em;
  font-weight: 500;
}
.menu__title .item__boxtext__heart {
  font-size: 1.4em;
  position: relative;
  display: flex;
}
.menu__title .item__boxtext__heart .heart__full {
  background: linear-gradient(189deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.menu__title .item__boxtext__heart .heart__full:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 2s ease;
  font-size: 1.07em;
}
.menu__title .item__boxtext__heart .heart__vide {
  opacity: 0.4;
}
.menu__title .item__boxtext__heart .heart__vide:hover {
  opacity: 0;
}

/*****************Plats *******************************************/
.list {
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}
.list__title {
  font-weight: 300;
}
.list__title::after {
  content: "";
  height: 0.18rem;
  width: 2.3rem;
  background: #99E2D0;
  display: block;
  margin-top: 0.3rem;
}
@media (min-width: 1500px) {
  .list__title::after {
    height: 0.25rem;
    width: 4.2rem;
  }
}
@media (min-width: 1500px) {
  .list__title {
    padding-right: 1rem;
    margin-top: -3rem;
    font-size: 1.5em;
  }
}
.list__title--first {
  margin-top: -3rem;
  font-weight: 300;
}
.list__title--first::after {
  content: "";
  height: 0.18rem;
  width: 2.3rem;
  background: #99E2D0;
  display: block;
  margin-top: 0.3rem;
}
@media (min-width: 1500px) {
  .list__title--first::after {
    height: 0.25rem;
    width: 4.2rem;
  }
}
@media (min-width: 1500px) {
  .list__title--first {
    margin-right: 2rem;
    font-size: 1.5em;
  }
}
@media (min-width: 1500px) {
  .list {
    display: flex;
    margin-bottom: 5rem;
  }
}

.list__menu {
  background: #ffffff;
  margin-top: 1rem;
  border-radius: 1rem;
  width: 95%;
  box-shadow: 2px 5px 0.9rem -2px #0000001f;
  display: flex;
  max-height: 6rem;
  animation-name: opacity, translateY;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-direction: forward, forward;
}
.list__menu:hover .list__menu__anim {
  width: 100px;
}
@media (min-width: 1500px) {
  .list__menu {
    width: 25%;
    margin-right: 2rem;
  }
}

.list__menu__box {
  flex-grow: 2;
  overflow: hidden;
  white-space: nowrap;
}
.list__menu__box .menu__box__title, .list__menu__box h3 {
  font-size: 1.1em;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list__menu__box .menu__box__subtitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-left: 0.9rem;
}
.list__menu__box .menu__box__subtitle .box__subtitle__text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list__menu__box .menu__box__subtitle .box__subtitle__price {
  font-weight: bold;
  padding-right: 0.3rem;
}

.list__menu__anim {
  opacity: 1;
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  height: auto;
  overflow: hidden;
  width: 0;
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__menu__anim .menu__anim__circle {
  font-size: 1.9rem;
  color: white;
  height: 2rem;
  width: 2rem;
}
.list__menu__anim .menu__anim__circle:hover {
  transform: rotate(-360deg);
  transition-duration: 1s;
  animation: rotate 1s both;
}

/*******************Button Menu****************/
.button__menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8rem;
  padding-top: 1rem;
}
.button__menu .button {
  width: 10rem;
}

/*****************Loader******************/
.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 221, 220, 0.856);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Loader 0.01s both;
  animation-delay: 1.75s;
}
.loader__anim {
  display: block;
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.4rem solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s linear infinite;
}
.loader__anim:before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  border-radius: 50%;
  border: 0.4rem solid transparent;
  border-top-color: #99E2D0;
  animation: spin 3s linear infinite;
}
.loader__anim:after {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0.9rem;
  right: 0.9rem;
  bottom: 0.9rem;
  border-radius: 50%;
  border: 0.4rem solid transparent;
  border-top-color: #FF79DA;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Loader {
  100% {
    opacity: 0;
    z-index: -99;
  }
}
/***********animation coeur******************/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
