/*********animation loader***************/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes Loader{
    100%{
        opacity: 0;
        z-index: -99;
    }
}

/***********animation coeur******************/

@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/**********animation menu***************/
@keyframes translateY {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-10px)
    }
}