/**************Header accueil*****************/
header {
    height: 4rem;
    width: 100%;
    @extend %flexcenter; 
    box-shadow: 0 0 0.28rem rgba(0, 0, 0, 0.425);
    position: relative;
    z-index: 10;
    background: $color-background-one;
    position: relative;

    .logo {
        font-size: 2.2em;
    }
}

/***************Header resto************/

.header__arrow{
    position: absolute;
    top: 1.4rem;
    left: 1.5rem;
    font-size: 1.5em;
}
